*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

a{
  text-decoration: none;
  margin: 20px;
}

h1 a {
  color: black;
}

ul li a {
  color: black;
}
/*FORMULAIRE*/

.form{
  padding:1em;
  border-color: rgba(255, 255, 255, 0);
  border-style:solid;
  border-width: 2px 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

textarea {
  width: 218px;
  height: 218px;
}

.formulaire {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 5vh;

}

.alert { 
  margin-top: 2em;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,700&display=swap');


body {
 /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
  
}

nav{
  display: grid;
  grid-template-columns: auto 5%;
  grid-template-rows: 10vh;
  grid-template-areas: "menu divdm";
  /* Dans Grid tous les items sont centrés verticalement */
  /* Comme justifi content n'est pas defini, il prend la valeur par défaut = strech */
  align-items: center;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:0px;  /* on le colle en bas */
  margin-top: 5vh;
  margin-bottom: 2vh;
  width:100%;   /* Hauteur du pied de page */

}

.h6 {
  margin: 1vh;
}

.sociaux a img {
  margin: 1em;
  width: 2em;
}

/*Dark Mode*/
.dark-mode { 
  background-color: black;  color: white; 
} 
.light-mode {  
  background-color: white;  color: black; 
}

.dark-mode a {
  color: white;
}

.dark {
  background-color: black;
  color: white;
}
.light {
  background-color: white;
  color: black;
}


/*Curriculum*/
.curriculum{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

/*Accueil*/
.maphoto { 
  width: 220px;
  height: 220px;
  position: relative;
  left: 23vw;
  top: 12vh;
}

.presentation {
  width: 23em;
  position:relative;
  left: 43vw;
  top:-7vh;
}
.accueildiv{
  display: grid;
  grid-template-columns: 230px 24em;
  grid-template-rows: 20vh;
  grid-template-areas: "maphoto presentation";
  /* Dans Grid tous les items sont centrés verticalement */
  /* Comme justifi content n'est pas defini, il prend la valeur par défaut = strech */
  align-items: center;
}

/*Tutoreils*/
.tutodiv{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.tutodiv div li {
  list-style: none;
}
.tutodiv h2 {
  margin: 5vh 0 3vh 0;
}

.tutodiv h4{
  margin: 1vh 0 1vh 0;
}

.tutodiv p {
  margin: 1vh 0 1vh 0;
}
.tutofooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  bottom:-13vh;  /* on le colle en bas */
  margin-top: 9vh;
  width:100%;   /* Hauteur du pied de page */

}
.graphikart {
  display: grid;
  grid-template-columns: 600px 400px;
  grid-template-rows: auto;
  grid-template-areas: "youtube graphikarttext";
  /* Dans Grid tous les items sont centrés verticalement */
  /* Comme justifi content n'est pas defini, il prend la valeur par défaut = strech */
  justify-content: center;
  margin-top: 10vh;

}
